@import url("movil.css") screen and (max-width: 480px);
@import url("tablet.css") screen and (min-width: 481px) and (max-width: 1024px);
@import url("ordenador.css") screen and (min-width: 1025px);
* {
    text-align: center;
    padding: .25em;
    font-size: 1em;
    font-family: 'Handlee', cursive;
    color: var(--letra);
}

:root {
    background-color: var(--secundario);
    --error: #ce6e51;
    --oscuro: #646464;
    --principal: #ecdfc8;
    --secundario: white;
    --terciario: #ecb390;
    --cuaternario: #e9c9b6;
    --acento: #df7861;
    --letra: black;
    --boton: white;
    --base: white;
    --caja: gainsboro;
    
}

a {
    text-decoration: none;
    color: var(--acento);
    font-size: 1em;
}

.logo {
    margin: 10px;
}

body {
    min-width: 280px;
}

body>header {
    background-color: var(--principal);
    /* margin-left: .2em;
    margin-right: .2em; */
}

body>header>h1 {
    font-size: 1.25em;
    color: var(--terciario);
}

/* MENU */

body>nav {
    color: var(--acento);
    height: 2em;
    background-color: var(--principal);
    /* margin-left: .75em;
    margin-right: .75em; */
}

body>nav:hover {
    color: var(--base);
}

body>nav>label>span {
    color: var(--acento);
}

body>nav>ul>li>a>span {
    color: var(--acento);
}

/* body>nav>ul>li>a>span:hover{
    color:var(--base);
}
    body>nav>ul:hover{
        color:var(--base);
    } */

body>nav>ul>li>a:hover {
    background-color: var(--terciario);
    color: var(--base);
    text-decoration: underline;
}
/* --------------------------------- */


.left>.fdia {
    float:left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -110%;
    transition: left .5s;
    border: var(--letra);
}
.right>#consejo {
width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    /* left: 50%; */
    transition: left .5s;
    border: var(--letra);
}
#chkdia{
    display:none;
}
#chkdia:checked + .fdia{
    left:0;
}

#chkconsejo{
    display:none;
}
#chkconsejo:checked + #consejo{
    left:0;
}
body>section>div>p>label{
    display: none;
    cursor:pointer;
    top: 50;
}






/* -------------INDEX--------------- */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--secundario);
}

.imagind {
    /* width: 45%; */
    margin: .5em;
    flex-grow: 1;
    background-color: var(--secundario);
    border-radius: 23px 23px 23px 23px;
    border: 3px solid var(--terciario);
}

.imagind:hover {
    background-color: var(--terciario);
    border-color: var(--principal);
}

.imagind>a>img {
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    border-radius: 8px;
}

.imagind>a>img:hover {
    transform: scale(1.05);
}

.datos {
    /* display: inline-block; */
    width: 90%;
    /* color: var(--acento); */
}

.datosenlace {
    width: 90%;
}

.datosenlace>a:hover {
    color: var(--oscuro);
}

#notengo:hover {
    color: var(--oscuro);
}

/* ------------------------------- */

.todasf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--principal);
    margin: 10px;
}

.imag {
    /* width:80%; */
    margin: .5em;
    flex-grow: 1;
    background-color: white;
    /* padding: .5em; */
    border-radius: 23px 23px 23px 23px;
    border: 3px solid var(--terciario);
}

.imag>img {
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    border-radius: 8px;
}

.imag>img:hover {
    transform: scale(1.05);
}

.imag>p>a>span {
    color: var(--acento);
}

/*----------FORMULARIOS---------*/

table {
    border: 2px solid var(--terciario);
    border-collapse: collapse;
    color: var(--acento);
    width: 30%;
}

tbody>tr>th {
    color: var(--acento);
}

tbody>tr>td {
    color: var(--acento);
}

th {
    background-color: var(--secundario);
    border-top: 1px solid var(--acento);
}

th, td {
    text-align: center;
    padding: .5em;
    border-bottom: 1px solid var(--acento);
}


.tcostes{
   width: 230px;
}

.formulario {
    /*==contenedor*/
    min-width: 210px;
    border-radius: 8px;
    border: 4px solid var(--secundario);
    width: 60%;
    height: 80%;
    background-color: var(--principal);
    padding: 20px;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 20%;
}

.contenedor2 {
    min-width: 175px;
    border-radius: 8px;
    border: 4px solid var(--terciario);
    width: 56%;
    height: 80%;
    background-color: var(--base);
    padding: 20px;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
.contenedorIMPRESO {
    min-width: 270px;
    /* max-width: 900px; */
    border-radius: 8px;
    border: 4px solid var(--terciario);
    width: 90%;
    height: 80%;
    background-color: var(--base);
    padding: 20px;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.contenedor3 {
    min-width: 205px;
    border-radius: 8px;
    border: 4px solid var(--principal);
    width: 50%;
    height: 60%;
    background-color: var(--base);
    padding: 20px;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.formularioDATOS {
    /*==contenedor*/
    min-width: 210px;
    border-radius: 8px;
    border: 4px solid var(--terciario);
    width: 60%;
    height: 80%;
    background-color: var(--base);
    padding: 20px;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 20%;
}

.contenedor3>img {
    width: 60%;
    max-width: 200px;
    height: 60%;
}

.contenedorERROR {
    border-radius: 8px;
    border: 4px solid var(--error);
    width: 50%;
    height: 80%;
    background-color: var(--base);
    padding: 20px;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.contenedorInicio {
    border-radius: 8px;
    border: 4px double var(--terciario);
    width: 50%;
    height: 80%;
    background-color: var(--secundario);
    padding: 20px;
    margin-bottom: 8%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.contenedorRESULTADO {
    border-radius: 8px;
    border: 4px double var(--terciario);
    width: 40%;
    height: 50%;
    background-color: var(--secundario);
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 20%;
}

.usu{
    color: var(--cuaternario);
    font-size: 1.3em;
    margin-top:0px;
    margin-bottom:0px;
}
    .usu:hover{
        color:var(--error);
    }

fieldset {
    border-color: var(--principal);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    flex: 1;
}

/* ---------FOOTER------------- */

footer {
    margin-top: 30px;
    background-color: var(--principal);
    color: var(--acento);
}

/* -----------LOGIN----------------------- */


.campo {
    font-size: 1em;
    margin-top: 5px;
    display: block;
}

.caja {
    margin: 10px;
    /* height:35px; */
    width: 80%;
    /* font-size:17px; */
    font-size: 1em;
    border-radius: 4px;
    /*bordes redondos*/
    border: 2px solid var(--base);
    /*coloy y tamaño bordes*/
}

.caja:hover {
    background-color: var(--caja);
}
.cajaDATOS {
    margin: 10px;
    /* height:35px; */
    width: 60%;
    /* font-size:17px; */
    font-size: 1em;
    border-radius: 4px;
    /*bordes redondos*/
    border: 2px solid var(--base);
    /*coloy y tamaño bordes*/
}

.cajaDATOS:hover {
    background-color: var(--caja);
}
.campo2 {
    width: 50px;
    font-size: 1em;
    margin: 0;
    padding-right: 5px;
    display: inline-block;
}

.caja22 {
    margin: 10px;
    width: 50px;
    font-size: 1em;
    border-radius: 4px;
    border: 2px solid var(--base);
}

.caja2:hover {
    background-color: var(--caja);
}

.caja2 {
    margin: 10px;
    width: 100px;
    font-size: 1em;
    border-radius: 4px;
    border: 2px solid var(--base);
}

.caja22:hover {
    background-color: var(--caja);
}

.caja3 {
    margin: 10px;
    /* height:35px; */
    width: 50%;
    /* font-size:17px; */
    font-size: 1em;
    border-radius: 4px;
    /*bordes redondos*/
    border: 2px solid var(--oscuro);
    /*coloy y tamaño bordes*/
}

.caja3:hover {
    background-color: var(--caja);
}

.boton {
    /*==entro*/
    background-color: var(--terciario);
    border: 2px solid var(--secundario);
    color: var(--base);
    /* border:none; */
    border-radius: 4px;
    /*borde redondo*/
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    /*cambiar a mano cuando pasa el raton*/
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.boton:hover {
    border: 2px solid var(--acento);
    /*6498BF*/
    opacity: 0.8;
}

.boton2 {
    /*==entro*/
    background-color: var(--oscuro);
    border: 2px solid var(--secundario);
    color: var(--base);
    /* border:none; */
    border-radius: 4px;
    /*borde redondo*/
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    /*cambiar a mano cuando pasa el raton*/
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.boton2:hover {
    border: 2px solid var(--acento);
    /*6498BF*/
    opacity: 0.8;
}

.botonResultado {
    background-color: var(--terciario);
    border: 3px solid var(--cuaternario);
    color: var(--letra);
    /* border:none; */
    border-radius: 4px;
    /*borde redondo*/
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    /*cambiar a mano cuando pasa el raton*/
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.botonResultado:hover{
    border: 3px solid var(--acento);
    opacity: 0.8;
}

.rellena {
    margin-bottom: 10px;
    margin-top: 5px;
}

.rellena2 {
    display: inline-block;
}

.botonopcion {
    /*==entro*/
    background-color: var(--error);
    border: 2px solid var(--secundario);
    color: var(--base);
    /* border:none; */
    border-radius: 4px;
    /*borde redondo*/
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    /*cambiar a mano cuando pasa el raton*/
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.botonopcion>a {
    color: var(--base);
}

.botonopcion:hover {
    background-color: var(--terciario);
    /*6498BF*/
    opacity: 0.95;
    color: var(--caja);
    border-color: var(--caja);
}

/* -------------------------------------------- */
/* -------------------------------------------- */

.masR{
    color:var(--acento);
    text-align: left;
}
#mensajeUsu{
    color:var(--acento);
}

.masR>p{
    color:var(--acento);
}

.tooltip {
    position: relative;
    display: block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 55%;
    background-color: var(--oscuro);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 70%;
    bottom: 85%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  